body{
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://images.unsplash.com/photo-1507924538820-ede94a04019d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  color: white; 
}
body *{
  border-radius: 25px;
}
h1, h2{
  color: blue;
}
header{
  text-align:center;
}
form{
  background: rgb(153, 0, 153, .5);
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
#basic-info{
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-left
}

#summary{
  text-align: ;
  border:none
}

.form-sections{
  width: 75%;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 50px;
  padding-bottom: 20px;
  border-bottom: 3px solid blue;
  border-radius: 0px;
  text-align: ;
  }

textarea{
  max-width:100%;
  display:flex;
  border-radius: 5px;
}

#button-div{
  text-align: center;
}

#submit{
  margin: 5px;
  border: solid grey;
  
}

#submit:hover{
  offset: 0;
  background: gray;
  border:  solid blue;
  color: white;
}